# Object files
*.o
*.ko
*.obj
*.elf
*.d
*.TMP
*.bak
*.zip
logs/
Backup/
backup/*
archive*/
archive/
Output/
Release/*
_build/*
uvgui.*
_build/
.settings/
.launches/
Debug/
Documentation/
*.log
*preview
*.drc
.vscode/
History/*